@import "tailwindcss";



:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: #dae1ea ;
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  min-height: 70vh
}